{% extends 'accounts/dashboard_basis.html' %}

{% load static %}
{% load widget_tweaks %}
{% block title %}
<title> Add Consultation Image</title>
{% endblock title %}
{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Image</h4>
                        </div>
                        <div class="card-content">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Model Image</label>
                                            {% render_field ImageForm.model_image class="form-control" placeholder="Model Image" %}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Image</label>
                                            {% render_field ImageForm.Image_Consultation class="form-control" %}
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add Image
                                </button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}</title>
</head>
<body>

</body>
</html>