{% extends 'accounts/dashboard_basis.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="card-header">
                                <h4 class="card-title">
                                    Change Password
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="form-group">
                                    <label>Old password</label>
                                    <input type="password" name="old_password" autocomplete="current-password"
                                           autofocus="" required="" id="id_old_password" class="form-control"
                                           placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="new_password1" autocomplete="new-password"
                                           required="" id="id_new_password1" class="form-control"
                                           placeholder="New password">
                                </div>
                                <div class="form-group">
                                    <label>New password confirmation</label>
                                    <input type="password" name="new_password2" autocomplete="new-password" required=""
                                           id="id_new_password2" class="form-control"
                                           placeholder="New password confirmation">
                                </div>
                                <button type="submit" class="btn btn-fill btn-info">Change Password</button>
                            </div>
                        </form>
                    </div> <!-- end card -->
                </div> <!--  end col-md-6  -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock content %}