{% extends 'accounts/dashboard_basis.html' %}
{% load static %}
{% block content %}
{% block title %}
<title> Dashboard</title>
{% endblock title %}
<div class="content">

	            <div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-sm-12">
							<div class="card card-circle-chart" data-background-color="blue">
								<div class="card-header text-center">
	                                <h5 class="card-title">Patients</h5>
	                                <p class="description">Total Number of Patients </p><br>
	                            </div>
								<div class="card-content">
									<div id="chartDashboard" class="chart-circle" >{{ patients_count }}</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="card card-circle-chart" data-background-color="orange">
								<div class="card-header text-center">
	                                <h5 class="card-title">Consultations</h5>
	                                <p class="description">Total Number of Consultations</p>
	                            </div>
								<div class="card-content">
									<div id="chartNewVisitors" class="chart-circle" >{{ consultations_count }}</div>
								</div>
							</div>
						</div>
					</div>
                </div>
	        </div>

{% endblock content %}

