<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'accounts/dashboard_basis.html' %}
        {% load static %}
        {% block content %}

            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-8 col-md-7">
                            <div class="card card-user">
                                <div class="card-content">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="author">
                                        <h4 class="card-title">Consultation
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Patient</label>
                                                <p class="">{{ consultation.patient.first_name }} {{ consultation.patient.last_name }}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Date Consultation</label>
                                                <p class="">{{ consultation.date }}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Symptoms</label>
                                                <p class="">{{ consultation.symptoms }}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <p class="">{{ consultation.description }}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <a href="/change-password" class="btn btn-primary btn-fill btn-wd">Change
                                                    Password</a>
                                                <a href="{% url 'edit_consultation' consultation.id %}"
                                                   class="btn btn-primary btn-fill btn-wd">Edit
                                                    Consultation</a>
                                                <a href="{% url 'consultation_pdf' consultation.id%}"
                                                   class="btn btn-wd btn-danger"> <i
                                                        class="fas fa-file-pdf"></i> Consultation PDF</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        {% endblock content %}</title>
</head>
<body>

</body>
</html>